<h2 class="name">I haven't built this functionality yet so don't try to login or you'll get an error.</h2>
<h2 class="name">Also, don't try to login once I have built it. This isn't your website.</h2>

<div class="container signup-form">
  <%= form_for :session, url: session_path(@user) do |f| %>
    <% if flash[:error] %>
      <div class="error-explanation">
        <p class="error"><%= flash[:error] %></p>
      </div>
    <% end %>

    <div class="user-action">
      <%= f.label :username, "Username", class: "form-label" %><br>
      <%= f.text_field :username %>

      <%= f.label :password, "Password", class: "form-label" %><br>
      <%= f.password_field :password %>

      <%= f.label :email, "Email", class: "form-label" %><br>
      <%= f.text_field :email %>

      <%= f.label :role, "Role", class: "form-label" %><br>
      <%= f.text_field :role %>

      <div class="actions waves-effect waves-light btn-large players-signup-button">
        <%= f.submit "Login" %>
      </div>
    </div>

  <% end %>
</div>